<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>My index</title>
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body ng-controller="Login">

        <nav class="navbar navbar-default">
            <div class="container">
                <button class="btn btn-primary navbar-btn" ui-sref="post">New Post</button>
                <button class="btn btn-link navbar-btn" ui-sref="posts">My Post</button>
                <button ng-show="isAuthenticated()" class="btn btn-link navbar-btn pull-right" ng-click=logout()>Logout</button>
            </div>
        </nav>

        <div class="container">
            <button ng-hide="isAuthenticated()" class="btn btn-primary" ng-click=login()>Login</button>
                <div ui-view></div>
        </div>
        <!-- vendorInject:js -->
        <!-- endinject -->

        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>
