<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>My index</title>
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body ng-controller="Login">

        <nav class="navbar navbar-default">
            <button ng-show="isAuthenticated()" class="btn btn-link navbar-btn pull-right" ng-click=logout()>Logout</button>
        </nav>

        <div class="container">
            <button ng-hide="isAuthenticated()" class="btn btn-primary" ng-click=login()>Login</button>

            <div class="col-sm-8 col-md-6 col-md-offset=3 col-sm-offset-2">
                <div class="well clearfix">
                    <div class="form-group">
                        <textarea rows=4 class="form-control" ng-model="message" placeholder="tweet message"></textarea>
                    </div>

                    <p class="input-group">
                        <input class="form-control" datepicker-popup ng-model="date" is-open="opened" min-date="minDate">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                    <timepicker ng-model="time"></timepicker>
                    <button class="btn btn-primary pull-right" ng-click=tweet()>Tweet</button>
                </div>
            </div>
        </div>
        <!-- vendorInject:js -->
        <!-- endinject -->

        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>
