<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>My index</title>
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body ng-controller="Login">

        <button ng-click=login()>Login</button>
        <button ng-click=tweet()>Tweet</button>

        <!-- vendorInject:js -->
        <script src="vendor/angular.js"></script>
        <script src="vendor/satellizer.js"></script>
        <!-- endinject -->

        <!-- inject:js -->
        <script src="app.js"></script>
        <script src="login.js"></script>
        <!-- endinject -->
    </body>
</html>
